altgraph==0.17.4
Babel==2.14.0
bleach==6.1.0
blinker==1.7.0
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dnspython==2.4.2
email-validator==2.1.0.post1
Flask==3.0.0
Flask-Admin==1.6.1
Flask-Babel==4.0.0
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Security-Too==5.3.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
future==0.18.3
greenlet==3.0.2
influxdb==5.3.1
itsdangerous==2.1.2
Jinja2==3.1.2
loginform==1.2.0
lxml==4.9.3
MarkupSafe==2.1.3
msgpack==1.0.7
packaging==23.2
passlib==1.7.4
pefile==2023.2.7
pip-review==1.3.0
pycparser==2.21
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.10
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32-ctypes==0.2.2
requests==2.31.0
six==1.16.0
speaklater==1.3
SQLAlchemy==2.0.23
urllib3==2.1.0
webencodings==0.5.1
Werkzeug==3.0.1
WTForms==3.1.1