{% extends './ct_layout.html' %}

{% block title %}
CerediraTess - Блокировка задач
{% endblock %}

{% block header %}
    <script src="static/agentLocker.js"></script>
{% endblock %}


{% block body %}

    {{ layout.main_menu('AgentLocker') }}

    <div class="conteiner">
        <div class="row">
            <div class="col text-center">
                <h4><b>Блокировка агентов</b></h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-10">
                <div class="input-group input-group-sm mb-3">
                    <input type="button" class="btn btn-primary btn-sm" value="Обновить статусы" id="updateCT">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Причина блокировки</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Укажите причину блокировки агента" id="ctCause">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Агенты</span>
                    </div>
                    <select class="custom-select width-fit-content" multiple id="ctAgents">
                        <option value="" selected disabled>Авторизуйтесь, для получения доступных агентов</option>
                    </select>
                    <table class="table table-bordered table-sm col-9">
                        <thead>
                        <tr class="row m-0">
                            <th class="d-inline-block col-2">Агент</th>
                            <th class="d-inline-block col-2">Пользователь</th>
                            <th class="d-inline-block col-8">Причина блокировки</th>
                        </tr>
                        </thead>
                        <tbody id="ctAgentsStatus">
                        </tbody>
                    </table>
                </div>
                <div class="input-group mb-3">

                </div>
                <div class="input-group input-group-sm mb-3">
                    <button type="button" class="btn btn-success btn-block btn-sm col-6" id="agentsLock">Заблокировать
                        агенты
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm col-6" id="agentsUnlock">Разблокировать агенты
                    </button>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h4><b>История блокировок</b></h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-10">
                <div class="accordion" id="CTLockingHistory"></div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}