{% extends './ct_layout.html' %}

{% block title %}
CerediraTess - Выполнение запросов
{% endblock %}

{% block header %}
    <script src="static/cerediraTess.js"></script>
{% endblock %}


{% block body %}

    {{ layout.main_menu('CerediraTess') }}

    <div class="conteiner">
        <div class="row">
            <div class="col text-center">
                <h4><b>Выполнение запросов</b></h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-10">
                <div class="input-group input-group-sm mb-3">
                    <input type="button" class="btn btn-primary btn-sm" value="Обновить скрипты" id="updateCT">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Скрипт</span>
                    </div>
                    <select class="custom-select" id="ctScripts">
                        <option value="" selected disabled>Авторизуйтесь, для получения доступных скриптов</option>
                    </select>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Агенты</span>
                    </div>
                    <select class="custom-select width-fit-content" multiple id="ctAgents">
                        <option value="" selected disabled>Выберите скрипт, для получения доступных агентов</option>
                    </select>
                    <div class="input-group-prepend">
                        <span class="input-group-text">Тело запроса</span>
                    </div>
                    <textarea class="form-control ctRequestBody" rows="8" id="ctRequestBody">{&#13;&#10;}</textarea>
                    <table>
                        <tr>
                            <td>
                                <select class="custom-select custom-select-sm" id="setEncodingParam">
                                    <option value="" selected>Выберите кодировку</option>
                                    <option value="utf-8">utf-8</option>
                                    <option value="866">866</option>
                                    <option value="1251">1251</option>
                                    <option value="1252">1252</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select class="custom-select custom-select-sm" id="setCredsParam">
                                    <option value="" selected>Выберите авторизационные данные</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" class="form-control form-control-sm" min="1" max="1000000"
                                       placeholder="Таймаут секунд" id="setTimeoutParam" value="60">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-primary btn-block btn-sm"
                                        id="requestParametersDescription">Описание параметров
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-primary btn-block btn-sm" id="requestValidation">
                                    Валидация запроса
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="input-group mb-3">

                </div>
                <div class="input-group input-group-sm mb-3">
                    <button type="button" class="btn btn-success btn-block btn-sm" id="executeCTRequest">Выполнить запрос
                    </button>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h4><b>История запросов</b></h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-10">
                <div class="accordion" id="CTRequestsHistory"></div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>

{% endblock %}