body {
    font-family: serif;
}
.form-group__error ul{
    margin: 0;
}
.ctRequestBody {
    /*font-family: monospace;*/
}
.ct-table-row-success {
    background-color: aliceblue;
}
.ct-table-row-error {
    background-color: mistyrose;
}

.ct-response-check-success {
    color: green;
}
.ct-response-check-error {
    color: red;
}
.width-fit-content {
    max-width: fit-content;
}
.row {
    margin: initial;
}
.input-group>.form-control:not(:last-child), .input-group>.custom-select:not(:last-child){
    border-radius: 0.2rem;
}